body {
background-color: slategray;
}

.form {
    text-align: center;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
}

.container {

}

.img {
    width: 500px;
    height: 500px;
    padding:10px 5px;
}